body{
	background: #333;
	color: #ddd;
}
#blockFoundDiv{
	display: none;
	width: 80%;
	position: absolute;
	top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999999 !important;
}
#countdown{
	display: none;
	position: absolute;
	font-size: 200%;
	font-weight: bold;
	z-index: 99999;
	padding:3px 7px;
}
table.dataTable th, table.dataTable td{
	box-sizing: border-box !important;
}
.btn{
	border-radius: 0;
	cursor: pointer;
}
table.dataTable tbody th, table.dataTable tbody td{
	padding-top: 4px;
	padding-bottom: 0px;
}
table.coins td, table.blocks{
	/*font-size: 85%;*/
}
td.btn{
	border: none;
	border-right: 1px #ccc solid;
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	box-shadow: none;
}
button.coin{
	padding: 0px 4px;
	margin-bottom: 0px;
}
.bg-success, .bg-info, .bg-warning, .bg-secondary, .bg-danger{
	color: #ddd;
}
.bg-success{
	background: rgb(102, 202, 102) !important;
	color: #333 !important;
}
.btn-warning{
	background: orange !important;
	color: #333 !important;
}
.text-orange{
	color: orange !important;
}
.text-success{
	color: rgb(162, 252, 162) !important;
}
/* Table */
td.active{
	border-top: 3px rgb(162, 252, 162) solid !important;
	border-bottom: 3px rgb(162, 252, 162) solid !important;
	background: #6c757d !important;
	color: #333;
}
.table td, .table th{
	padding: 6px 0.75rem 3px;
	color: #ddd;
	border-top: none !important;
}
.table th{
	color: rgb(162, 252, 162);
}
.table-striped>tbody>tr:not(.bg-danger):nth-child(odd)>td, 
.table-striped>tbody>tr:not(.bg-danger):nth-child(odd)>th {
   background-color: #444;
}
/* table --> */
.form-control, .progress{
	background: #ededed;
	border-radius: 0;
}
#datatable_length, #datatable_filter, .dataTables_filter, .dataTables_info{
	display:none;
}
table.herominers th, table.miner_table th{
	text-align: right;
}
.progress{
	height: 30px;
	margin-bottom: 2px;
}
.progress-bar h3, .progress-bar h3{
	margin-top: 9px;
	color: orange;
	font-weight: bold;
}
#cur_balance{
	cursor: pointer;
}
.pull-right{
	float: right;
}
#getBlocks{
	display: none;
	max-height: 35%; 
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: thin;
}

/* ------ */

.popup_container {

}
.bougasetun {
	border-top: 1px #ccc solid;
	border-left: 1px #ccc solid;
	background: rgb(51, 51, 51);
	color: rgb(162, 252, 162);
	width: 41%;
	height: 100%;
	margin: 0;
	padding: 18px 20px;
	transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
	top: 100%;
	position: fixed;
	right: 0;
	text-align: left;
	z-index: 999999;
	box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5);
}

.popup_container.bougasetun-open .bougasetun {
 	top: 50%;
}
.remove_row{
	padding: 0;
	margin: 0;
}
.bottom-right-button {
    position: fixed;
    bottom: 0px;
    right: 0;
    cursor: pointer;
    background: rgb(51, 51, 51);
    color: rgb(162, 252, 162);
}
#allCoins{
	/*height: 650px; 
	overflow-y: scroll;
	overflow-x: scroll;
	scrollbar-width: thin;*/
}
#qubic_stat b{
	color: rgb(162, 252, 162) !important;
}
